# General Laravel stuff
/storage/*.key
/vendor
.env
Homestead.json
Homestead.yaml

# Node noise.
npm-debug.log
yarn-error.log
package-lock.json
/node_modules

# Ignore ide helper files.
.phpstorm.meta.php
_ide_helper.php

# Ignore sublime files.
*.sublime-project
*.sublime-workspace

# Ignore Phpstorm files.
/.idea

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json