// Body
$body-bg: #f5f8fa;
$body-color: #000;

$background-off-white: #efefef;
$background-off-white-dark: #ccc;

$border-dark-grey: #888;

$font-weight-base: 100;

$headings-color: #000;

$navbar-dark-color: white;
$navbar-dark-hover-color: $navbar-dark-color;
$navbar-dark-active-color: $navbar-dark-color;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;

//
//// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
//
//// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;
//
// Typography
$font-family-sans-serif-small: "Open Sans", sans-serif;
//// $icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 1rem;
//$line-height-base: 1.6;
//$text-color: #636b6f;
//
//// Navbar
//$navbar-default-bg: #fff;
//
//// Buttons
//$btn-default-color: $text-color;
//
//// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);
//
//// Panels
//$panel-default-heading-bg: #fff;
//
//
