// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,700");
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
// Material Shadows
@import "~material-shadows/material-shadows";

html, body {
  height: 100vh;
}

.status-unaired {
  background-color: #F5F1E4;
}

.status-good {
  background-color: #C3E3C8;
}

.status-qual {
  background-color: #FFDA8A;
}

.status-skipped {
  background-color: #BEDEED;
}

.status-wanted {
  background-color: #FFB0B0;
}

.status-snatched {
  background-color: #EBC1EA;
}

// Simple fade transition.
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.material-design-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: absolute;
    bottom: -0.125em;
  }
}
