// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100vh;
}

@include media-breakpoint-up(md) {
  nav.main {
    .dropdown-menu:after {
      position: absolute;
      top: -12px;
      right: 12px;
      display: inline-block;
      border: 6px solid transparent;
      border-bottom-color: $dropdown-bg;
      content: "";
    }
  }

  .dropdown-hover:hover > .dropdown-menu {
    display: block;
  }
}

.status-unaired {
  background-color: #F5F1E4;
}

.status-good {
  background-color: #C3E3C8;
}

.status-qual {
  background-color: #FFDA8A;
}

.status-skipped {
  background-color: #BEDEED;
}

.status-wanted {
  background-color: #FFB0B0;
}

.status-snatched {
  background-color: #EBC1EA;
}

