// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~mdi/scss/materialdesignicons";

html, body {
  height: 100vh;
}

@include media-breakpoint-up(md) {
  nav.main {
    .dropdown-menu:after {
      position: absolute;
      top: -12px;
      right: 12px;
      display: inline-block;
      border: 6px solid transparent;
      border-bottom-color: $dropdown-bg;
      content: "";
    }
  }

  .dropdown-hover:hover > .dropdown-menu {
    display: block;
  }
}
